@import "./mediaQuery";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.Category-heading {
  font-size: 23px;
  color: rgb(34, 34, 34);
}

.main-Ccontainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 70px;
  justify-content: center;
  //   flex-shrink: 10px;
  // flex-wrap: wrap;

  @include tabSize1030 {
    grid-template-columns: repeat(3, 262px);
  }

  @include tabSize1444 {
    grid-template-columns: repeat(3, 262px);
  }

  @include tabSize930 {
    grid-template-columns: repeat(2, 262px);
  }

  .Ccontainer {
    //   height: 300px
    // margin: 25px 100px;
    // width: 250px;
    display: grid;
    place-items: center;
    .Ccontainer_inner {
      border: 1px solid rgba(131, 131, 131, 0.118);
      // padding: 5px;
      border-radius: 5px;
      &_img {
        height: 300px;
        width: 260px;

        & img {
          border-radius: 5px;
          object-fit: cover;
          object-position: center;
          height: 100%;
          width: 100%;
        }
        @include tabSize653 {
          height: 270px;
          width: 230px;
        }
      }
      &_Product-details {
        margin-top: 10px;

        &_name {
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;
          margin: 10px 0px;
          color: #333;
        }
        &_price {
          font-family: Arial, Helvetica, sans-serif;
          color: #000;
          padding-bottom: 5px;
          font-size: 20px;

          &-recent {
            font-size: 14.5px;
            margin-bottom: 5px;
            text-decoration: line-through;
            opacity: 0.65;
          }
        }
      }
      &:hover {
        //   background-color: #e6e6e6;
        box-shadow: 0px 0px 10px #1d1d1d23, 0px 0px 1px #1d1d1d3f;
        transition: 0.5s;
      }
    }
  }
}
