@mixin phone {
  @media screen and (max-width: 420px) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: 930px) {
    @content;
  }
}

@mixin tab2 {
  @media screen and (max-width: 1196px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scrollbar-width: 100px;
  scrollbar-color: rgb(10, 105, 157) blue;
}

.login-user-txt,
.signUp-user-txt {
  @include phone {
    display: none;
  }
}

// Product screen section

.main-areaContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: max($numbers: 10);
}

.faq-container {
  margin-top: 150px;
  // background-color:red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

  &-boxtxt {
    text-align: center;
  }

  &-boxtxt-h1 {
    line-height: 1em;
    word-spacing: 3px;
  }

  &-boxtxt-span {
    display: block;
    font-size: 15px;
    font-weight: lighter;
    word-spacing: 3px;
  }

  &-boxOptions {
    margin-top: 10px;
    // background-color: red;
    display: flex;
    justify-content: center;
  }

  &-boxOptionSuggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    flex-wrap: wrap;
    padding: 10px 0;
    // height: 50px;
    border-radius: 3px;
  }

  &-boxOptionSuggestion-inp {
    width: 25rem;
    height: 30px;
    text-align: center;
    font-size: 12px;
    outline: none;
    border: none;
    margin-left: 6px;
    border-radius: 3px;
  }

  &-boxOptionSuggestion-btn {
    width: 50px;
    height: 30px;
    font-size: 11px;
    outline: none;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    background-color: black;
    color: white;
  }

  &-boxOptions-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-boxOptionList {
    display: flex;
    margin-top: 15px;
    // background-color: purple;
  }

  &-boxOptionListone {
    width: 20rem;
    height: 220px;
    color: black;
    // background-color: #6ca6dd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 10px;
    transition: box-shadow 0.5s;
    box-shadow: 0px 0px 3px #2b2b2b91;
  }

  &-boxOptionListone:hover {
    box-shadow: 0px 0px 10px #00000085;
  }

  // .boxOptionListTwo{
  //   margin: 0 15px;
  // }
}
