* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.all-ordersInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 20px;
}

.all-ordersInnerLeft {
  width: 75%;
  margin: 0px 20px;
}

@media screen and (max-width: 860px) {
  .all-ordersInnerLeft {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft {
    margin: 0px 10px;
  }
}

.all-ordersInnerLeft_shipping {
  margin: 1px 0px 9px 0px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0000002f;
  background-color: #6ca6dd0c;
}

.all-ordersInnerLeft_shipping li {
  color: #333333f0;
  padding: 5px 9px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft_shippingTop {
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .all-ordersInnerLeft_shippingTop {
    font-size: 10px;
  }
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft_shippingButtom h4 {
    font-size: 13px;
  }
}

@media screen and (max-width: 330px) {
  .all-ordersInnerLeft_shippingButtom h4 {
    font-size: 10.2px;
  }
}

.all-ordersInnerLeft_payment {
  margin: 1px 0px 9px 0px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0000002f;
  background-color: #6ca6dd0c;
}

.all-ordersInnerLeft_payment li {
  color: #333333f0;
  padding: 5px 9px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft_paymentTop {
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .all-ordersInnerLeft_paymentTop {
    font-size: 10px;
  }
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft_paymentButtom h4 {
    font-size: 13px;
  }
}

@media screen and (max-width: 330px) {
  .all-ordersInnerLeft_paymentButtom h4 {
    font-size: 10.2px;
  }
}

.all-ordersInnerLeft_shopping-cart {
  margin: 9px 0px;
  width: 100%;
  min-height: 100px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #0000002f;
  background-color: #6ca6dd0c;
  padding: 0px 0px 3px 0px;
}

.all-ordersInnerLeft_shopping-cart_heading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  width: 100%;
  color: #333333f0;
}

.all-ordersInnerLeft_shopping-cart_headingInner {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-ordersInnerLeft_shopping-cart_headingInner-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft_shopping-cart_headingInner-left {
    font-size: 12px;
  }
}

@media screen and (max-width: 330px) {
  .all-ordersInnerLeft_shopping-cart_headingInner-left {
    font-size: 10px;
  }
}

.all-ordersInnerLeft_shopping-cart_headingInner-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft_shopping-cart_headingInner-right {
    font-size: 13px;
  }
}

.all-ordersInnerLeft_shopping-cart_products {
  overflow-y: auto;
  max-height: 320px;
  margin: 50px 0px 0px 0px;
}

@media screen and (max-width: 530px) {
  .all-ordersInnerLeft_shopping-cart_products {
    margin: 35px 0px 0px 0px;
  }
}

@media screen and (max-width: 860px) {
  .all-ordersInnerLeft {
    width: auto;
  }
}

.all-ordersInnerRight {
  height: calc(100vh - 45px);
  min-width: 20.5rem;
  border-radius: 5px;
  border: 1px solid #0000002f;
  background-color: #6ca6dd0c;
}

@media screen and (max-width: 980px) {
  .all-ordersInnerRight {
    min-width: 18rem;
  }
}

@media screen and (max-width: 860px) {
  .all-ordersInnerRight {
    height: auto;
  }
}

@media screen and (max-width: 330px) {
  .all-ordersInnerRight {
    min-width: 10rem;
  }
}

.all-ordersInnerRightInner {
  padding: 20px 9px;
}

.all-ordersInnerRightInner_heading {
  color: #333333f0;
}

@media screen and (max-width: 530px) {
  .all-ordersInnerRightInner_heading h2 {
    font-size: 19px;
  }
}

.all-ordersInnerRightInner_productDetail_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333f0;
  margin: 10px 0px;
  border: 1px solid #00000027;
  padding: 5px 5px;
  border-radius: 5px;
}

@media screen and (max-width: 330px) {
  .all-ordersInnerRightInner_productDetail_li {
    font-size: 12px;
  }
}

.all-ordersInnerRightInner_productDetail_li_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.all-ordersInnerRightInner_productDetail_li_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.all-ordersInnerRightInner_orderTotal_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #009d1a;
}

.all-ordersInnerRightInner_orderTotal_li_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 430px) {
  .all-ordersInnerRightInner_orderTotal_li_left {
    font-size: 11px;
  }
}

.all-ordersInnerRightInner_orderTotal_li_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 430px) {
  .all-ordersInnerRightInner_orderTotal_li_right {
    font-size: 14px;
  }
}

.all-ordersInnerRightInner_placeOrder_btn {
  margin-top: 10px;
}

.all-ordersInnerRightInner_placeOrder_btn button {
  height: 38px;
  width: 100%;
  background-color: #6ca6dd;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0px 0px 2px #000;
}

.all-ordersInnerRightInner_placeOrder_btn button:hover {
  -webkit-box-shadow: 0px 0px 5px #6ca6dd;
          box-shadow: 0px 0px 5px #6ca6dd;
}

@media screen and (max-width: 530px) {
  .all-ordersInnerRightInner_placeOrder_btn button {
    height: 32px;
    border-radius: 11px;
  }
}

@media screen and (max-width: 430px) {
  .all-ordersInnerRightInner_placeOrder_btn button {
    font-size: 12px;
    height: 25px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 860px) {
  .all-ordersInner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.right-Container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media screen and (max-width: 420px) {
  .right-Container_content-container {
    margin-top: 120px;
  }
}

.productMain-content_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7px;
}

.productMain-content_heading h2 {
  font-size: 20px;
}

.productMain-content_heading h4 {
  font-size: 15px;
}

@media screen and (max-width: 565px) {
  .productMain-content_heading h2 {
    font-size: 15px;
  }
  .productMain-content_heading h4 {
    font-size: 12px;
  }
}

.productMain-content-empty {
  height: calc(100vh - 120px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.productMain-content-emptyInner {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.productMain-content-emptyInner i {
  color: crimson;
  font-size: 80px;
}

.productMain-content-emptyInner a {
  color: rgba(0, 0, 0, 0.611);
  font-weight: bold;
  text-decoration: underline;
}

.cartContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 416px;
}

.cartContainer .cart-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 9px;
}

.cartContainer .cart-boxInner {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.cartContainer .cart-boxInner_Productcard {
  border-bottom: 1px solid rgba(0, 0, 0, 0.165);
  padding: 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 420px) {
  .cartContainer .cart-boxInner_Productcard {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 5px;
  }
}

.cartContainer .cart-boxInner_Productcard_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartContainer .cart-boxInner_Productcard_leftInner {
  margin-left: 100px;
  padding: 15px 0;
}

@media screen and (max-width: 565px) {
  .cartContainer .cart-boxInner_Productcard_leftInner {
    margin-left: 30px;
  }
}

@media screen and (max-width: 420px) {
  .cartContainer .cart-boxInner_Productcard_leftInner {
    margin-left: 9px;
    padding: 10px 0;
  }
}

.cartContainer .cart-boxInner_Productcard_leftInner-top a {
  font-size: 17px;
  color: rgba(51, 51, 51, 0.789);
  font-weight: bold;
}

@media screen and (max-width: 565px) {
  .cartContainer .cart-boxInner_Productcard_leftInner-top a {
    font-size: 15.4999995px;
  }
}

@media screen and (max-width: 420px) {
  .cartContainer .cart-boxInner_Productcard_leftInner-top a {
    font-size: 12.5px;
  }
}

.cartContainer .cart-boxInner_Productcard_leftInner-img {
  height: 100px;
  width: 100px;
}

.cartContainer .cart-boxInner_Productcard_leftInner-img img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 420px) {
  .cartContainer .cart-boxInner_Productcard_leftInner-img {
    height: 75px;
    width: 75px;
  }
}

@media screen and (max-width: 330px) {
  .cartContainer .cart-boxInner_Productcard_leftInner-img {
    height: 65px;
    width: 65px;
  }
}

.cartContainer .cart-boxInner_Productcard_leftInner-bottom {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartContainer .cart-boxInner_Productcard_leftInner-bottom_qty {
  font-size: 15px;
}

.cartContainer .cart-boxInner_Productcard_leftInner-bottom_size {
  font-size: 14.5px;
}

@media screen and (max-width: 420px) {
  .cartContainer .cart-boxInner_Productcard_leftInner-bottom_size {
    font-size: 11.4px;
  }
}

.cartContainer .cart-boxInner_Productcard_right {
  position: relative;
}

.cartContainer .cart-boxInner_Productcard_right_price h3 {
  font-size: 17px;
}

@media screen and (max-width: 565px) {
  .cartContainer .cart-boxInner_Productcard_right_price h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  .cartContainer .cart-boxInner_Productcard_right_price h3 {
    font-size: 12px;
  }
}

.cartContainer .cart-boxInner_Productcard_right_delete {
  position: absolute;
  right: 20px;
  bottom: 0px;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .cartContainer .cart-boxInner_Productcard_right_delete {
    font-size: 12px;
    right: 5px;
  }
}

.cartContainer .cart-boxInner_Productcard_right_delete i {
  color: #bf0404;
}

.cartContainer .cart-boxInner_Productcard_right_delete i:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #830000;
}

.cartContainer .cart-boxInner_ProductcardProductcard_inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cartContainer .checkout-main {
  padding: 0px 40px;
}

.cartContainer .checkout-main .checkout-box {
  width: 400px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40vw;
          flex: 0 0 40vw;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin: 0px 20px;
  padding: 10px;
}

@media screen and (max-width: 750px) {
  .cartContainer .checkout-main .checkout-box_allproduct_details h3 {
    font-size: 17px;
  }
}

@media screen and (max-width: 330px) {
  .cartContainer .checkout-main .checkout-box_allproduct_details h3 {
    font-size: 12px;
  }
}

.cartContainer .checkout-main .checkout-box_btn {
  margin-top: 20px;
  -webkit-box-pack: last baseline;
      -ms-flex-pack: last baseline;
          justify-content: last baseline;
  width: 100%;
}

.cartContainer .checkout-main .checkout-box_btn button {
  margin-top: 30px;
  cursor: pointer;
  background-color: #6ca6dd;
  font-size: 17px;
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .cartContainer .checkout-main .checkout-box_btn button {
    height: 25px;
    border-radius: 6px;
    margin-top: 17px;
  }
}

@media screen and (max-width: 330px) {
  .cartContainer .checkout-main .checkout-box_btn button {
    margin-top: 1px;
  }
}

@media screen and (max-width: 420px) {
  .cartContainer .checkout-main .checkout-box_btn button {
    font-size: 15px;
    height: 22px;
  }
}

@media screen and (max-width: 1130px) {
  .cartContainer .checkout-main .checkout-box {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .cartContainer .checkout-main .checkout-box {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media screen and (max-width: 1130px) {
  .cartContainer .checkout-main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px;
  }
}
/*# sourceMappingURL=placeOrderScreen.css.map */